doctype html
html
	head
		title= "Node JS"
		link(href='/css/main.css', rel='stylesheet')
	body
		h2= title
		
		if username
			h3 Hello : #{username}
			img(src='/img/logo.png', alt = 'Logo')
			div
				form(name='logout', method='POST', action='/logout')
					input(type='submit', value='Log out')
		else
			div
				a(href='/signup') Sign up
			div
				a(href='/login') Log in

		div(ng-app='Hello' ng-controller='NameController')
			div
				label(for='yourName') Your name is
				input(name='yourName', type='text', ng-model='yourName')
			div
				| {{ yourName | sayhello }}

		script(type='text/javascript', src='/lib/angular/angular.min.js')
		script(type='text/javascript', src='/application.js')